<form class="container">

    {{!--        Length      --}}
    {{#forms/form-row label="Length of the Question"}}
        {{form-button-single title='Instant'}}
        {{form-button-single title='Short'}}
        {{form-button-single title='Medium'}}
        {{form-button-single title='Long'}}
    {{/forms/form-row}}
    {{!-- TODO use my own radio buttons here instead of those below - they're ugly as hell --}}
    {{#forms/form-row label="Length of the Question"}}
        {{#radio-button value="Short" groupValue=question.length}}<span>Short</span>{{/radio-button}}
        {{#radio-button value="Medium" groupValue=question.length}}<span>Medium</span>{{/radio-button}}
        {{#radio-button value="Long" groupValue=question.length}}<span>Long</span>{{/radio-button}}
    {{/forms/form-row}}

    {{!--        Difficulty      --}}
    {{#forms/form-row label="Challenge Level"}}
        {{form-button-single title="Structured" color="red"}}
        {{form-button-single title="Standard" color="amber"}}
        {{form-button-single title="Problem" color="green"}}
    {{/forms/form-row}}

    {{#forms/form-row label="Challenge Radios"}}
        {{#radio-button value="Structured" groupValue=question.difficulty}}<span>Structured</span>{{/radio-button}}
        {{#radio-button value="Standard" groupValue=question.difficulty}}<span>Standard</span>{{/radio-button}}
        {{#radio-button value="Problem" groupValue=question.difficulty}}<span>Problem</span>{{/radio-button}}
    {{/forms/form-row}}


    {{!--        QuestionText      --}}
    {{#forms/form-row label="The Question"}}
        {{textarea class="form-control" placeholder='Your wonderful question here' rows=3 value=question.questionText}}
    {{/forms/form-row}}

    {{!--        Picture      --}}
    {{#forms/form-row label="Add a supporting picture or diagram"}}
        <div class="row col-12">
            {{form-switch value=question.hasPicture}}
        </div>
        {{#if question.hasPicture}}
            <div class="card col-12">
                <div class="card-header">
                    Drag your resources here!
                </div>
                <button class="btn btn-secondary">Find your files</button>
            </div>

            {{!-- {{file-uploader class='form-control'}} --}}
        {{/if}}
    {{/forms/form-row}}

    {{!--        Advice      --}}
    {{#forms/form-row label="Advice for completion"}}
        <div class="row col-12">
            {{form-switch value=question.hasAdvice}}
        </div>
        {{#if question.hasAdvice}}
                {{input class="form-control" value=question.advice placeholder='Hints, tips, or web addresses to suppport successful completion'}}
        {{/if}}
    {{/forms/form-row}}

    {{!--        Correct Answer      --}}
    {{#forms/form-row label="Correct Answer"}}
        {{input class="form-control" value=question.answer placeholder='The correct answer'}}
    {{/forms/form-row}}

    {{!--        Multiple Choice      --}}
    {{#forms/form-row label="Add multiple choice answers?"}}
        {{form-switch value=question.hasMulti}}
        {{#if question.hasMulti}}

            <div class="row col-12">
                <div class="col-9">
                    {{!-- Starts on incorrect2, with correct answer being answer1 --}}
                    {{input id='answer2' class="form-control" value=question.answer2 placeholder='Incorrect answer'}}
                </div>
                    {{form-button-single title='+' selected=hasMulti3}}
            </div>
            {{#if hasMulti3}}
                <div class="row col-12">
                    <div class="col-9">
                        {{input id='answer3' class="form-control" value=question.answer3 placeholder='Incorrect answer'}}
                    </div>
                    {{form-button-single title='+' selected=hasMulti4}}
                </div>
                {{#if hasMulti4}}
                    <div class="row col-12">
                        <div class="col-9">
                            {{input id='answer4' class="form-control" value=question.answer4 placeholder='Incorrect answer'}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/forms/form-row}}

    {{!--        Submission Controls      --}}
    <div class="col-sm-offset-3">
        <button class="btn btn-success" {{action "togViewPreview"}}>Submit</button>
        <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
    </div>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

</form>

{{!--        Preview Component      --}}
{{#if viewPreview}}
    {{#modal-basic}}
    <h1>Preview</h1>
    <div class="question-preview-modal-wrapper">
        {{question-preview question=question}}
    </div>
        <button type="submit" class="btn btn-success" {{action "saveQuestion"}}>Submit</button>
        <button class="btn btn-danger" {{action "cancelPreview"}}>Cancel</button>
    {{/modal-basic}}
{{/if}}
