

<h1>{{model.name}}{{model.id}}</h1>

<div class="controls-level1">
    <button class="btn btn-primary" {{action "togViewOverview" }}>Overview</button>
    <button class="btn btn-primary" {{action "togViewPriorities" }}>Priorities</button>
    <button class="btn btn-primary" {{action "togViewUnits" }}>Units</button>
</div>

{{#if viewOverview}}
<h2>Area Breakdown</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Branch</th>
            <th>SNAP Level</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Number</td>
            <td>6a</td>
            <td>6a</td>
        </tr>
        <tr>
            <td>Algebra</td>
            <td>6a</td>
            <td>6a</td>
        </tr>
        <tr>
            <td>Shape</td>
            <td>6a</td>
            <td>6a</td>
        </tr>
        <tr>
            <td>Data</td>
            <td>6a</td>
            <td>6a</td>
        </tr>
    </tbody>
</table>

<h2>Level Breakdown</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Level</th>
            <th>Unassessed (%)</th>
            <th>Red (%)</th>
            <th>Amber (%)</th>
            <th>Green (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3</td>
            <td>0</td>
            <td>5</td>
            <td>17</td>
            <td>82</td>
        </tr>
        <tr>
            <td>4</td>
            <td>3</td>
            <td>16</td>
            <td>11</td>
            <td>74</td>
        </tr>
        <tr>
            <td>5</td>
            <td>34</td>
            <td>16</td>
            <td>13</td>
            <td>16</td>
        </tr>
        <tr>
            <td>6</td>
            <td>80</td>
            <td>17</td>
            <td>3</td>
            <td>6a</td>
        </tr>
    </tbody>
</table>
{{/if}}

{{#if viewPriorities}}
<div class="width100">
    <div class="panel panel-success col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Recap Priorities</h3>
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Branch</th>
                        <th>Objective</th>
                        <th>Objective Level</th>
                        <th>SNAP</th>
                        <th>Days since update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel panel-danger col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Intervention Priorities</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Branch</th>
                        <th>Objective</th>
                        <th>Objective Level</th>
                        <th>SNAP</th>
                        <th>Days since update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Algebra</td>
                        <td>Multiply simple algebraic expressions</td>
                        <td>5</td>
                        <td>2</td>
                        <td>57</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/if}}

{{#if viewUnits}}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Unit</th>
            <th>Levels</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        {{#each model.group.currentScheme.units as |unit|}}
        <tr>
            <td {{action "setSelectedUnit" unit}}>
                {{unit.name}}
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Check: {{selectedUnit.name}}</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Unit</th>
            <th>Levels</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {{#each scoresArray as |item|}}
        <tr>
            <td>{{item.objective.name}}</td>
            <td>{{item.objective.level}}</td>
            <td {{action 'test' item}}>{{rag-score-single score=item.score.score}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
