<div class="col-md-12">

<h1>{{model.name}}</h1>

<div class="row">
    <h3 class="col-6">
        Feedback for: {{selectedUnit.name}}
    </h3>
    <div class="col-6">
        <button class="btn btn-primary" {{action "togViewUnits" }}>Change</button>
    </div>
</div>




    {{#if viewUnits}}
        {{#modal-basic cancel=(action 'togViewUnits')}}
            <h3>Select a unit</h3>
            {{#each model.currentScheme.units as |unit|}}
                <h4 {{action 'setSelectedUnit' unit}}>{{unit.name}}</h4>
            {{/each}}
        {{/modal-basic}}
    {{/if}}

    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th colspan="3">Target Objective</th>
                <th colspan="2">Example</th>
                <th colspan="2">Question</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Pass each studentFeedback object into a component to handle selection of the feedback, example and question models --}}
            {{#each studentFeedbacks as |studentFeedback|}}
                {{fb/fb-parent studentFeedback=studentFeedback unit=model.currentUnit
                    selectQuestion=(action 'selectQuestion' studentFeedback)
                    setCurrentFeedback=(action 'setCurrentFeedback' studentFeedback)
                }}
            {{/each}}
        </tbody>
    </table>


    {{#link-to 'groups.group.feedback-sheets.view'}}<button class="btn btn-success">View Feedback Sheets</button>{{/link-to}}

</div>


{{outlet}}

{{!-- {{#if modalObjectives}}
{{#modal-basic modal=modalObjectives}}
<h1>Objectives!</h1>
<table class="table">
<thead>
<tr>
<th>Objective</th>
<th>Level</th>
<th colspan="2">Score</th>
</tr>
</thead>
<tbody>
{{#each model.currentUnit.objectives as |objective|}}
<tr>
<td>{{objective.name}}</td>
<td>{{objective.level}}</td>
<td>{{rag-score-single score=2}}</td>
<td><button class="btn btn-primary btn-xs" {{action "selectObjective" }}>Select</button></td>
</tr>
{{/each}}
</tbody>
</table>
<h4>{{objective.name}}</h4>
{{/modal-basic}}
{{/if}} --}}
