{{!-- Search, and filter for chosen objectives --}}
<div class="row">

    <h4>Find objectives by: </h4>

    {{!-- Filter Type Selector --}}
    <div class="">
        {{!-- TODO - turn these into radio-functioning buttons - a type of button-set component --}}
        {{#tab-set}}
            {{tab-single title="Classification" action=(action "togViewFilterbyClassification") deselector=deselector}}
            {{tab-single title="Grade" action=(action "togViewFilterbyGrade") deselector=deselector}}
            {{tab-single title="Search" action=(action "togViewFilterbySearch") deselector=deselector}}
        {{/tab-set}}
    </div>
</div>



{{!-- Filter Controls --}}
<div class="row">


    {{!-- Search by keyword --}}
    {{#if viewFilterbySearch}}
    <div class="form-inline form-group">
        {{input class="form-control" value=searchCriteria action='searchObjectives' onEvent="keyPress" placeholder="Search by keyword..." }}
        <button class="btn btn-default" {{action 'searchObjectives'}}>Search</button>
    </div>
    {{/if}}

    {{!-- Filter by classification --}}
    {{#if viewFilterbyClassification}}
        {{!-- Area --}}
        <div class="col-8">
            {{#power-select options=areas onchange=(action 'setFilterArea') selected=filterCriteriaArea placeholder="Select an Area"  as |area|}}
                {{area}}
            {{/power-select}}
        </div>
        {{!-- Branch --}}
        <div class="col-8">
            {{#power-select options=branches onchange=(action 'setFilterBranch') selected=filterCriteriaBranch placeholder="Select a Branch" as |branch|}}
                {{branch}}
            {{/power-select}}
        </div>
        {{!-- Topic --}}
        <div class="col-8">
            {{#power-select options=topics onchange=(action 'setFilterTopic') selected=filterCriteriaTopic placeholder="Select a Topic" as |area|}}
                {{area}}
            {{/power-select}}
        </div>
    {{/if}}

    {{!-- Filter by Grade/Level --}}
    {{#if viewFilterbyGrade}}
        {{!-- {{#power-select options=levels onchange=(action 'setFilterLevel') selected=filterCriteriaLevel placeholder="Select a Level" as |level|}}
            {{level}}
        {{/power-select}} --}}

        {{#each levelsArray as |item|}}
        <div class="level-toggle{{if item.selected "-selected"}}"  {{action 'toggleLevel' item}}>
            <span class="">{{item.level}}</span>
            {{#if item.selected}}
                <i class="fas fa-check"></i>
            {{else}}
                <i class="fas fa-times"></i>
            {{/if}}
        </div>
        {{/each}}

        <button {{action "testLevelsArray"}}>Test Levels Array</button>
    {{/if}}

    <button class="btn btn-defualt btn-warning form-group" {{action 'resetFilters'}}>Reset filter</button>
</div>

{{!-- List of objectives --}}
<div class="">
    {{#each filteredObjectives as |objective|}}
    {{!-- TODO determine different outputs here. Do we want each objective to be links? To be draggable in SoW Editor etc --}}

        {{#if hasLinks}}
            {{#link-to 'objectives.objective' objective}}<p>{{objective.name}}</p>{{/link-to}}
        {{else if draggableObjectives}}
            {{scheme-editor/draggable-objective objective=objective originType="bank" origin="bank"}}
        {{else}}
            <p>{{objective.name}}</p>
        {{/if}}
    {{/each}}
</div>
