<h1>Year Overview</h1>

<table class="">
    <thead class="thead-dark">
        <tr>
            <th>September</th>
        </tr>
        <tr>
            <th class="timetable-time-col"></th>
            {{#each daysArray as |day|}}
                <th class="timetable-day-col">{{day}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{!-- {{#each timesArray as |time|}}
        <tr>
            <th class="timetable-hour">{{time}}</th>
            {{#each daysArray as |day|}}
                {{planner/timetable-gridunit day=day time=time}}
            {{/each}}
        </tr>
        {{/each}} --}}
    </tbody>
</table>




{{#each months as |month|}}
    <div class="year-planner-month-header">
        <h2>{{month.month}}</h2>
    </div>
    <div class="year-planner-month-gridunit-holder">
        {{#each month.dates as |date|}}
            {{planner/year-gridunit date=date}}
        {{/each}}
    </div>
{{/each}}



{{outlet}}
