<h1>@TheHecticTeacher</h1>

{{#tab-set}}
    {{tab-single title="Resources" deselector=deselector link="users.user.profile"}}
    {{tab-single title="Questions" deselector=deselector link="users.user.questions"}}
    {{tab-single title="Assessments" deselector=deselector}}
    {{tab-single title="Other" deselector=deselector}}
{{/tab-set}}

{{outlet}}
