<h2>New Question Route</h2>

{{forms/question-edit question=model saveQuestion=(action 'saveQuestion')}}
{{!-- {{forms/question-edit question=question cancel=(action "cancel" question)}} --}}

{{!-- {{#if question}}
<div class="col-sm-offset-2 col-sm-8">
    <div class="questionPreview width100">
        <h3>Preview</h3>
        <h4>{{questionText}}</h4>
        {{#if advice}}<h6>(Hint: {{advice}})</h6>{{/if}}
        {{#if answer2}}
        <div class="multi-answers col-sm-12">
            <div class="answer col-sm-6">
                <div class="multi-answer-1 col-sm-offset-1 col-sm-10">
                    {{answer}}
                </div>
            </div>
            <div class="answer col-sm-6">
                <div class="multi-answer-2 col-sm-offset-1 col-sm-10">
                    {{answer2}}
                </div>
            </div>
            {{#if answer3}}
            <div class="answer col-sm-6">
                <div class="multi-answer-3 col-sm-offset-1 col-sm-10">
                    {{answer3}}
                </div>
            </div>

                {{#if answer4}}
                <div class="answer col-sm-6">
                    <div class="multi-answer-4 col-sm-offset-1 col-sm-10">
                        {{answer4}}
                    </div>
                </div>
                {{/if}}
            {{/if}}
        </div>
        {{/if}}


    </div>
</div>
{{/if}} --}}

{{outlet}}
