{{!-- <h1>{{model.name}} Assessment Page</h1> --}}
<h1>Assessment: {{model.assessment.title}}</h1>

<h2>{{groupName}}</h2>

{{#each myStudents as |student|}}
  <p>{{student.name}}</p>
{{/each}}



<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th rowspan="4">Student</th>
            <th>Objective</th>
            {{#each model.assessment.assessmentQuestions as |question|}}
                <th class="text-orientation-upright">{{question.objective.name}}</th>
            {{/each}}
        </tr>
        <tr>
            <th>Level</th>
            {{#each model.assessment.assessmentQuestions as |question|}}
                <th>{{color/level-color level=question.objective.level}}</th>
            {{/each}}
        </tr>
        <tr>
            <th>Question</th>
            {{#each model.assessment.assessmentQuestions as |question|}}
            <td>{{question.question.questionText}}</td>
            {{/each}}
        </tr>
        <tr>
            <th>Marks</th>
            {{#each model.assessment.assessmentQuestions as |question|}}
            <td>{{question.marks}}</td>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each model.group.students as |student|}}
            {{assessment/student-assessment-row store=store student=student assessmentGroupRecord=model assessment=model.assessment}}
        {{/each}}
    </tbody>
</table>

{{outlet}}
