<h1>Group's Assessment Page</h1>
<h1>Assessment: {{model.title}}</h1>


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th rowspan="3">Student</th>
            <th>Objective</th>
            {{#each model.assessmentQuestions as |question|}}
                <th class="text-orientation-upright">{{question.objective.name}}</th>
            {{/each}}
        </tr>
        <tr>
            <th>Level</th>
            {{#each model.assessmentQuestions as |question|}}
                <th>{{question.objective.level}}</th>
            {{/each}}
        </tr>
        <tr>
            <th>Marks</th>
            {{#each model.assessmentQuestions as |question|}}
            <td>{{question.marks}}</td>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Rick Dagless</td>
            {{#each model.assessmentQuestions as |question|}}
            <td>100%</td>
            {{/each}}
        </tr>
    </tbody>
</table>

{{outlet}}
