<h1>Assessments {{model.assessmentRecords.length}}</h1>


{{#if model.assessmentRecords.length}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date Sat</th>
                <th>Average Score</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Where assessment is the group's assessment record --}}
            {{#each model.assessmentRecords as |assessment|}}
            <tr>
                <td>Past Paper</td>
                <td>{{#link-to 'groups.group.assessments.assessment' assessment.id}}{{assessment.assessment.title}}{{/link-to}}</td>
                <td>{{assessment.description}}</td>
                <td>12.12.17</td>
                <td>35%</td>
                <td><button class="btn btn-danger" {{action "deleteAssessmentRecord" assessment}}>Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <h5>No assessments have been set for {{model.group.name}}. Click below to start setting some!</h5>
    <h3>TODO - Or try refreshing... Model not loading correctly on link-to.</h3>

{{/if}}

{{#link-to 'groups.group.assessments.set' model.group class="btn btn-success"}}Set an Assessment{{/link-to}}
