<h1>{{model.name}} Assessments</h1>

<h3>Set Assessments</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date Sat</th>
            <th>Average Score</th>
        </tr>
    </thead>
    <tbody>
        {{#each model.group.assessmentRecords as |assessment|}}
        <tr>
            <td>Past Paper</td>
            <td>{{#link-to 'groups.group.assessments.assessment' assessment.id}}{{assessment.assessment.title}}{{/link-to}}</td>
            <td>{{assessment.description}}</td>
            <td>12.12.17</td>
            <td>35%</td>
        </tr>
        {{/each}}
        <tr>
            <td>Past Paper</td>
            <td>Nov 2017</td>
            <td>Another past paper practice from WJEC</td>
            <td>12.4.18</td>
            <td>80%</td>
        </tr>
    </tbody>
</table>

<h3>All Assessments</h3>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        {{#each model.assessments as |assessment|}}
        <tr>
            <td>Past Paper</td>
            <td>{{#link-to 'groups.group.assessments.assessment' assessment.id}}{{assessment.title}}{{/link-to}}</td>
            <td>{{assessment.description}}</td>
            <td>
                <button class="btn btn-primary" {{action 'setAssessment' assessment}}>Set</button>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>Past Paper</td>
            <td>Nov 2017</td>
            <td>Another past paper practice from WJEC</td>
            <td>12.4.18</td>
            <td>80%</td>
        </tr>
    </tbody>
</table>


<h3>To Do</h3>
<p class="panel-title">SoW Unit Assessments</p>
<p class="panel-title">General Assessments</p>
<p class="panel-title">Create an Assessment</p>
