<h1>{{model.name}}</h1>
{{#link-to 'schemes.scheme.edit' }}<button class="btn btn-primary">Edit</button>{{/link-to}}
{{!-- Card for Each Unit --}}
<div class="row">
    {{#each model.units as |unit|}}
    {{!-- TODO - make this a component for displaying objectives in an accordion --}}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{unit.name}}</h4>
            </div>
            <div class="card-block">
                <table class="table table-hover table-sm">
                    {{!-- <thead>
                        <th>Objective Name</th>
                        <th>Level</th>
                    </thead> --}}
                    <tbody>
                        {{#each unit.objectives as |objective|}}
                            <tr>
                                <td>{{#link-to 'objectives.objective' objective}}{{objective.name}}{{/link-to}}</td>
                                <td>{{color/level-color level=objective.level}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{/each}}
</div>


{{outlet}}
