{{#link-to 'objectives.objective.resources'}}<h1>Resources</h1>{{/link-to}}

{{#tab-set}}
    {{#link-to 'objectives.objective.resources'}}{{tab-single title="All Resources" deselector=deselector selected=true}}{{/link-to}}
    {{#link-to 'objectives.objective.resources.find'}}{{tab-single title="Find" deselector=deselector}}{{/link-to}}
    {{#link-to 'objectives.objective.resources.share'}}{{tab-single title="Share!" deselector=deselector}}{{/link-to}}
{{/tab-set}}


{{!-- All Resources (Temporoary) --}}
<div class="card col-12">
    <h4 class="card-title">All Resources (Temporoary)</h4>
    <div class="card-block  row justify-content-center">
        {{!-- Card for each resource --}}
        {{#each model.resources as |resource|}}
            <div class="col-6 col-md-3">
                {{#link-to 'objectives.objective.resources.resource' resource}}
                <div class="card">
                    <div class="card-block">
                        <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                        <p>{{resource.title}}</p>
                    </div>
                    <div class="card-footer">
                        {{resource.title}}
                        <p>{{resource.description}}</p>
                    </div>
                </div>
                {{/link-to}}
            </div>
        {{/each}}

    </div>
</div>

{{!-- Suggested Resources eg recent/highly rated --}}
{{!-- Full Lessons --}}
<div class="card col-12">
    <h4 class="card-title">Full Lessons</h4>
    <div class="card-block row justify-content-center">
        {{!-- Each resource matching selected tags --}}
        <div class="col-6 col-md-3">
            <div class="card ">
                <div class="card-block">
                    <img src="/assets/images/docs/word.svg" alt="Word Document">
                </div>
                <div class="card-footer">
                    Lesson1
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/ppt.svg" alt="Powerpoint Document">
                </div>
                <div class="card-footer">
                    Lesson2
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                </div>
                <div class="card-footer">
                    Lesson3
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                </div>
                <div class="card-footer">
                    Lesson4
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary">More</button>
    </div>
</div>

{{!-- Alternative Lessons --}}
<div class="card col-12">
    <h4 class="card-title">Alternative Lessons</h4>
    <div class="card-block">
        <div class="card col-lg-3 col-md-6">
            Starter1
        </div>
    </div>
</div>

{{!-- Hooks --}}
<div class="card col-12">
    <h2 class="card-title">Hooks</h2>
    <div class="card-block row justify-content-center">
        {{!-- Each resource matching selected tags --}}
        <div class="col-lg-3 col-md-6">
            <div class="card ">
                <div class="card-block">
                    <img src="/assets/images/docs/word.svg" alt="Word Document">
                </div>
                <div class="card-footer">
                    Hook1
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/ppt.svg" alt="Powerpoint Document">
                </div>
                <div class="card-footer">
                    Hook2
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                </div>
                <div class="card-footer">
                    Hook3
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                </div>
                <div class="card-footer">
                    Hook3
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Starters --}}
<div class="card col-12">
    <h2 class="card-title">Starters</h2>
    <div class="card-block">
        <div class="card col-lg-3 col-md-6">
            Starter1
        </div>
    </div>
</div>

{{!-- Videos --}}
<div class="card col-12">
    <h2 class="card-title">Videos</h2>
    <div class="card-block">
        <div class="card col-lg-3 col-md-6">
            Starter1
        </div>
    </div>
</div>
