{{#link-to 'objectives.objective.resources'}}<h1>Resources</h1>{{/link-to}}

{{#tab-set}}
    {{#link-to 'objectives.objective.resources'}}{{tab-single title="All Resources" deselector=deselector selected=true}}{{/link-to}}
    {{#link-to 'objectives.objective.resources.find'}}{{tab-single title="Find" deselector=deselector}}{{/link-to}}
    {{#link-to 'objectives.objective.resources.share'}}{{tab-single title="Share!" deselector=deselector}}{{/link-to}}
{{/tab-set}}


{{!-- All Resources (Temporoary) --}}
<div class="card col-12">
    <h4 class="card-title">All Resources (Temporoary)</h4>
    <div class="card-block  row justify-content-center">
        {{!-- Card for each resource --}}
        {{#each model.resources as |resource|}}
            <div class="col-6 col-md-3">
                {{#link-to 'objectives.objective.resources.resource' resource}}
                <div class="card">
                    <div class="card-block">
                        <img src="/assets/images/docs/excel.svg" alt="Excel Document">
                        <p>{{resource.title}}</p>
                    </div>
                    <div class="card-footer">
                        {{resource.title}}
                        <p>{{resource.description}}</p>
                    </div>
                </div>
                {{/link-to}}
            </div>
        {{/each}}

    </div>
</div>
