<h2 >Objectives</h2>
<table class="table width100">
    <tbody>
        <tr>
            <th>Objective</th>
            <th colspan="3">Average Score</th>
        </tr>
        {{#each model.currentUnit.objectives as |objective|}}
        <tr>
            <td>{{#link-to 'objectives.objective' objective}}{{objective.name}}{{/link-to}}</td>
            <td><button {{action 'test'}} class="btn btn-default">score!!</button></td>
            <td>{{#link-to 'objectives.objective.resources' objective}}<button class="btn btn-primary">Resources</button>{{/link-to}}</td>
            <td>
                <button class="btn btn-success">Gradebook</button>
                {{scores/objective-average-score group=model objective=objective}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="">
    <h4>Currently Studying:</h4>
    <div class="row">

        {{!-- Select Subject --}}
        <div class="col-md-4">
            {{#forms/form-row label="Subject"}}
                <img class="form-icon" src="/assets/icons/maths.svg">
                {{#button-with-modal text="Change" addClass="btn-default"}}
                    {{!-- {{#owl-carousel}} --}}
                        {{icon-subject icon="chemistry" title="Chemistry"}}
                        {{icon-subject icon="physics" title="Physics"}}
                        {{icon-subject icon="biology" title="Biology"}}
                        {{icon-subject icon="geography" title="Geography"}}
                        {{icon-subject icon="design" title="Design Technology"}}
                        {{icon-subject icon="art" title="Art"}}
                        {{icon-subject icon="history" title="History"}}
                        {{icon-subject icon="pe" title="PE"}}
                        {{icon-subject icon="media" title="Media"}}
                        {{icon-subject icon="critical" title="Critical Thinking"}}
                        {{icon-subject icon="re" title="RE"}}
                        {{icon-subject icon="maths" title="Maths"}}
                    {{!-- {{/owl-carousel}} --}}
                {{/button-with-modal}}
            {{/forms/form-row}}
        </div>

        {{!-- Select the Scheme enrolled upon --}}
        <div class="col-md-4">
            {{#forms/form-row label="Scheme:"}}
                    <strong>{{model.currentScheme.name}}</strong>
                    {{#button-with-modal text="Change" addClass="btn btn-default"}}
                        <button type="button" class="btn btn-primary">My School Schemes</button>
                        <button type="button" class="btn btn-primary">Public Schemes</button>
                        <div class="row">
                            {{#each allSchemes as |scheme|}}
                            <div class="card col-sm-4 col-md-3 col-lg-2">
                                <div class="card-block">
                                    <h5>{{scheme.name}}</h5>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    {{/button-with-modal}}
            {{/forms/form-row}}
        </div>

        {{!-- Select the Unit currently being studied --}}
        <div class="col-md-4">
        {{#forms/form-row label="Unit:"}}
                <strong>{{model.currentUnit.name}}</strong>
            {{#button-with-modal text="Change" addClass="btn btn-default"}}
                <div class="row fluid">
                    {{#each model.currentScheme.units as |unit|}}
                        <div class="card col-sm-4 col-md-3 col-lg-2">
                            <div class="card-block">
                                <h5>{{unit.name}}</h5>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/button-with-modal}}
        {{/forms/form-row}}
        </div>

    </div>

    {{!-- Objectives --}}
{{!--
        <h2 >Objectives</h2>
        <table class="table width100">
            <tbody>
                <tr>
                    <th>Objective</th>
                    <th colspan="3">Average Score</th>
                </tr>
                {{#each model.currentUnit.objectives as |objective|}}
                <tr>
                    <td>{{#link-to 'objectives.objective' objective}}{{objective.name}}{{/link-to}}</td>
                    <td><button class="btn btn-default">score!!</button></td>
                    <td>{{#link-to 'objectives.objective.resources' objective}}<button class="btn btn-primary">Resources</button>{{/link-to}}</td>
                    <td><button class="btn btn-success">Gradebook</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table> --}}

</div>
