{{#bread-crumb link='groups.group.students' model=model}}Students{{/bread-crumb}}


<h1>{{model.name}}</h1>

{{!-- Controls for changing the students in the class TODO - reformat this --}}
{{#if viewL1Controls}}
<div class="row">
    {{!-- <div {{action "showImportStudents"}}>
        Import Students
        <span>Upload a spreadsheet</span>

    </div>

    <div class="col-sm" {{action "showImportStudents"}}>
        <div class="card">
            <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
            <div class="card-footer">Upload a Spreadsheet</div>
        </div>
    </div> --}}

    {{!-- Import Students from a Spreadsheet --}}
    <div class="col-sm" {{action "showImportStudents"}}>
        <div class="card">
            <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
            <div class="card-block">
                <h4 class="card-title">Import Students</h4>
                <div class="card-text">Upload a Spreadsheet</div>
            </div>
        </div>
    </div>

    {{!-- Transfer students into this class from another class --}}
    <div class="col-sm" {{action "showTransfer"}}>
        <div class="card">
            <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
            <div class="card-block">
                <h4 class="card-title">Transfer a student</h4>
                <div class="card-text">Add a student from another class</div>
            </div>
        </div>
    </div>

    {{!-- Transfer students into this class from another class --}}
    <div class="col-sm" {{action "showAddNewStudent"}}>
        <div class="card">
            <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
            <div class="card-block">
                <h4 class="card-title">New Student</h4>
                <div class="card-text">Add a new student to this class</div>
            </div>
        </div>
    </div>

    {{!-- Remove a student from the class - place in holding --}}
    <div class="col-sm" {{action "showRemoveStudent"}}>
        <div class="card">
            <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
            <div class="card-block">
                <h4 class="card-title">Remove a student</h4>
                <div class="card-text">Remove a student from this class and place in holding</div>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{!-- View form for adding a single new student --}}
{{#if viewAddNewStudent}}
    {{forms/new-student student=studentFO save=(action "addNewStudent") cancel=(action "cancelAddNewStudent") }}
{{/if}}

{{!-- View component for transferring students between school's classes --}}
{{#if viewTransfer}}
    {{forms/transfer-student cancel=(action "cancelTransfer") }}
{{/if}}


{{!-- Viewing component for importing multiple students via spreadsheet --}}
{{#if viewImportStudents}}
    {{forms/import-students cancel=(action "cancelImportStudents")}}
{{/if}}

{{!-- View controls for removing a student from the class --}}
{{#if viewRemoveStudent}}
<div class="row">
    <button type="button" class="btn btn-large btn-warning" {{action "cancelRemoveStudent"}}>Cancel</button>
</div>
{{/if}}

{{!-- Viewing list of students with student details --}}
{{#if viewStudents}}
    <h1>Students</h1>
    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    {{#if viewRemoveStudent}}<th>Remove</th>{{/if}}
                    <th>Name</th>
                    <th>SEN</th>
                    <th>FSM</th>
                    <th>Student Email</th>
                    <th>Parent/Guardian Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each model.students as |student|}}
                <tr>
                    {{#if viewRemoveStudent}}
                        <th>
                            {{#button-with-confirmation text="X" addClass="btn-danger" submitConfirm=(action "removeStudent" student) }}
                            Are you sure you wish to remove this student from the class?
                            {{/button-with-confirmation}}

                        </th>
                    {{/if}}
                    <td>{{#link-to 'students.student' student}}{{student.name}}{{/link-to}}</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>{{student.name}}@stteilos.com</td>
                    <td>dad@aol.com</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}
