<h1>Schemes</h1>
<div class="container-fluid">

{{#tab-set}}
    {{tab-single title="School Schemes" deselector=deselector selected=true}}
    {{tab-single title="Personal Schemes" deselector=deselector}}
{{/tab-set}}

    {{!-- My School Schemes --}}
    <div class="row justify-content-center">

        {{#each model as |scheme|}}
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                {{#if isDeletingSchemes}}
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/books/redbook.png" />
                    <div class="card-footer">
                        <h4>{{scheme.name}}</h4>
                            {{#button-with-confirmation submitConfirm=(action "deleteScheme" scheme) text="Delete" addClass="btn btn-danger"}}
                                Warning: This scheme cannot be recovered once it is deleted.
                            {{/button-with-confirmation}}
                    </div>
                </div>
                {{else}}
                {{#link-to 'schemes.scheme' scheme}}
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/books/redbook.png" />
                    <div class="card-footer">
                        <h4>{{scheme.name}}</h4>
                    </div>
                </div>
                {{/link-to}}
                {{/if}}
            </div>
        {{/each}}
    </div>

    {{!-- My Personal Schemes --}}

    {{!-- Adding and Removing Schemes controls --}}
    <div class="row justify-content-center">

        {{#if isDeletingSchemes}}
            <button {{action "togIsDeletingSchemes"}} class="btn btn-success">Done</button>
        {{else}}
        {{#link-to 'schemes.new'}}
            <button class="btn btn-success">Create a new Scheme</button>
        {{/link-to}}
            {{!-- Remove a scheme --}}
            <button {{action "togIsDeletingSchemes"}} class="btn btn-danger">Delete a Scheme</button>

        {{/if}}
    </div>
</div>
