<h1>Objectives Route</h1>

{{#each model as |objective|}}
{{#link-to 'objectives.objective' objective}}<h3>{{objective.id}}{{objective.name}}</h3>{{/link-to}}
{{/each}}
{{outlet}}


<h1 class="script">Objectives</h1>

<div id="filters">
    <div class="filter-set">
        {{filter-button type="Branch" value="Number" action="filterObjectives"}}
        {{filter-button type="Branch" value="Algebra" action="filterObjectives"}}
        {{filter-button type="Branch" value="Shape" action="filterObjectives"}}
        {{filter-button type="Branch" value="Data" action="filterObjectives"}}
    </div>
    <div class="filter-set">
        <div class="filter-button" {{action 'filterObjectives' "Level" "1" }}>1</div>
        <div class="filter-button">2</div>
        <div class="filter-button">3</div>
        <div class="filter-button">4</div>
        <div class="filter-button">5</div>
        <div class="filter-button">6</div>
        <div class="filter-button">7</div>
        <div class="filter-button">8</div>
        <div class="filter-button">9</div>
        <div class="filter-button">10</div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Objective</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each objectivesFiltered as |objective|}}
        <tr>
            <td>{{objective.id}}</td>
            {{#if isEditing}}
            <td>{{input value=objective.branch}}</td>
            <td>{{input value=objective.name}}</td>
            <td><button {{action "updateObjective" objective}}>Update</button></td>
            {{else}}
            <td>{{objective.branch}}</td>
            <td>{{#link-to 'objectives.objective' objective}}{{objective.name}}{{/link-to}}</td>
            <td><button {{action "editObjective" }}>Edit</button></td>
            {{/if}}
        </tr>
        {{/each}}
        {{#if isAddingNew}}
        <tr>
            <td></td>
            <td>{{input value=objectiveBranch }}</td>
            <td>{{input value=objectiveName enter="addObjective"}}</td>
            <td><button {{action "newObjective" }}>Add</button></td>
        </tr>
        {{/if}}
    </tbody>
</table>
<button {{action "showAddNewForm" }}>Add New Objective</button>
