{{#bread-crumb link='objectives.objective' model=model}}{{model.name}}{{/bread-crumb}}

<div class="page-title">
        {{#link-to 'objectives.objective' model}}
        <h1>{{model.name}}</h1>
        {{/link-to}}

        <button class="btn btn-sm btn-primary" type="button">{{model.branch}}</button>
        <button class="btn btn-sm btn-primary" type="button">{{model.area}}</button>
        <button class="btn btn-sm btn-primary" type="button">{{model.topic}}</button>
        <button class="btn btn-sm btn-primary" type="button">Level {{model.level}}</button>
</div>

{{outlet}}
