{{!-- Launches the Quick Question Player --}}
{{!-- TODO - Should this be a single component or a set of routes? Probably routes... --}}

{{#if selectedGroup}}<button {{action 'setViewGroups'}} class="btn btn-primary">{{selectedGroup.name}}</button>{{/if}}
{{#if selectedUnit}}<button {{action 'setViewGroups'}} class="btn btn-primary">{{selectedUnit.name}}</button>{{/if}}
{{#if settings}}<button {{action 'togViewSettings'}} class="btn btn-default">Settings</button>{{/if}}


{{#if viewFindObjsBy}}
    <h2>How would you like to select your questions?</h2>
    <div class="row">
        {{!-- Find objectives appropriate for the class --}}
        <div {{action 'setViewGroups'}} class="col-6">
            <div class="card">
                <img class="card-img-top " src="/assets/images/kids1.png" alt="">
                <div class="card-footer">
                    <h4 class="card-title">Class Objectives</h4>
                    <p>Find a class, and view questions for objectives from their SoW</p>
                </div>
            </div>
        </div>

        {{!-- Find and Select from all objectives --}}
        <div class="col-6">
            <div class="card">
                <img class="card-img-top " src="/assets/images/kids1.png" alt="">
                <div class="card-footer">
                    <h4 class="card-title">Find by Objective</h4>
                    <p>Find questions for any objectives from our collection</p>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if viewGroups}}
<h2>Please choose the class you would like to question</h2>
    <div class="row">
        {{#each groups as |group|}}
            <div {{action 'setSelectedGroup' group}} class="col-sm">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" />
                    <div class="card-footer">{{group.name}}</div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

{{#if viewSettings}}
{{#forms/form-container}}
    {{#forms/form-row label="Timer"}}
        <div class="row">
            {{forms/toggle-switch}}
        </div>
        <div class="row">
            {{input class="form-control" placeholder="TODO - Slider to go here."}}
        </div>
    {{/forms/form-row}}

    {{#forms/form-row label="Show Answers"}}
        <div class="row">
            {{forms/toggle-switch}}
        </div>
        <div class="row">
            {{input class="form-control" placeholder="TODO - Slider to go here."}}
        </div>
    {{/forms/form-row}}
{{/forms/form-container}}
{{/if}}

{{#if viewUnits}}
    {{!-- Current Unit --}}
    {{!-- <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{selectedGroup.currentUnit.name}}</h4>
                <button {{action 'setSelectedUnit' selectedGroup.currentUnit}} class="btn btn-success">Select Unit</button>
                <button class="btn btn-primary">Expand</button>
            </div>
            <div class="card-block">
                <table class="table table-hover table-sm">
                    <tbody>
                        {{#each selectedGroup.currentUnit.objectives as |objective|}}
                            <tr>
                                <td>{{objective.name}}</td>
                                <td>{{color/level-color level=objective.level}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div> --}}

    {{!-- All Units --}}
    <div class="row">
        {{#each selectedGroup.currentScheme.units as |unit|}}
        {{!-- TODO - make this a component for displaying objectives in an accordion --}}
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{unit.name}}</h4>
                    <button {{action 'setSelectedUnit' unit}} class="btn btn-success">Select Unit</button>
                    <button class="btn btn-primary">Expand</button>
                </div>
                <div class="card-block">
                    <table class="table table-hover table-sm">
                        <tbody>
                            {{#each unit.objectives as |objective|}}
                                <tr>
                                    <td>{{objective.name}}</td>
                                    <td>{{color/level-color level=objective.level}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/if}}

{{#if viewPlayer}}
    {{qq/qq-player}}
{{/if}}


{{#if activeQuestion}}
    <h1>Active Question</h1>
    {{question-preview question=activeQuestion}}
{{/if}}

{{#if questionIteration}}
    <h3>{{questionIteration}}</h3>
{{/if}}


{{!-- {{#if questions}}
<h1>All Questions</h1>
<div class="question-div">
    {{#each questions as |question|}}
        {{question-preview question=question}}
    {{/each}}
</div>
{{/if}} --}}

{{#if activeQuestion}}
    <button {{action 'nextQuestion'}} class="btn btn-lg btn-success">Next</button>
{{else}}
    <button {{action 'startQuiz'}} class="btn btn-lg btn-success">Go!</button>
{{/if}}
